//
// ****   Close Buttons  *****
//
button.close--button {
  --close--btn-size: calc(1.1rem + 1vmin);
  height: var(--close--btn-size);
  width: var(--close--btn-size);
  display: block;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  opacity: 0.8;
  border: none;
  // border: 1px solid whitesmoke;
  // background-color: rgb(246, 229, 208);
  // transform: translateY(calc(-1 * (var(--close--btn-size) / 10)))
  //   translateX(calc((var(--close--btn-size) / 10)));
  outline-style: none; // For Safari
  padding: 4px;
  // box-shadow: rgba(0, 0, 0, 0.4) 0.7px 0.7px 1px;
  transition: opacity 0.25s ease-in-out;
  &:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   left: 0;
  //   border-radius: 50%;
  //   width: 100%;
  //   height: 100%;
  //   opacity: 1;
  //   box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
  //   transition: opacity 0.2s ease-out;
  // }
  // &:hover:after {
  //   opacity: 0;
  // }
  & .close--button--line,
  .close--button--line:after {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 2px;
    position: relative;
    border-radius: 5px;
    background: var(--bg-color);
    // outline: 1px solid black;
  }
  & .close--button--line.dark,
  .close--button--line.dark:after {
    background: var(--main-color);
  }
  & .close--button--line {
    transform: rotate(-45deg);
  }
  & .close--button--line:after {
    content: "";
    transform: rotate(90deg);
  }
}
